{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Kin for - {{ user.username }} | {{ block.super }}{% endblock %}

{% block body_class %}
class="stretched page-transition"
{% endblock %}

{% block content %}
<h1>{% if request.user.fullname %}{{request.user.fullname}}{% else %}{{ user.username }}{% endif %}</h1>
<h3>ADD YOUR NEXT OF KIN</h3>
<form enctype="multipart/form-data" method="post" action="{% url 'users:kin' %}">
    {% csrf_token %}
    {{ form|crispy }}
        <button type="submit" class="button btn btn-primary">Add Next of Kin</button>
</form>
{% endblock %}
