{% extends "base_dashboard.html" %}
{% load i18n static %}

{% block title %}{% if object.is_field_worker and not object.is_superuser %}FieldWorker:{% elif object.is_superuser and object.is_field_worker %}Admin:{% else %}User:{% endif %} {{ object.fullname }} - {{block.super|upper}}{% endblock title %}

{% block desc %}Bizwallet is a very stable & secure online platform that assist it's members develope discipline for saving and investing in assets whilist earning little or enough. These members can acquire property, Auto/Vehicle, Pay School fees, plan towards investing in agriculture and many more.{% endblock %}

{% block kw %}bizwallet, bizwallet group, bizwallet limited, co-operative company{% endblock %}


{% block content %}

<div class="row">
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card bg-gradient-default shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
            <h2 class="text-white mb-0">Annual Balance Growth Chart</h2>
          </div>
          <div class="col">
            <ul class="nav nav-pills justify-content-end">
              <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[{% for p in c_bal %}{{p.amount|truncatechars:2}},{% endfor %}]}]}}' data-prefix="₦" data-suffix="k">
                <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                  <span class="d-none d-md-block">{{c_year}}</span>
                  <span class="d-md-none">{{c_syear}}</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[{% for p in p_bal %}{{p.amount|truncatechars:2}},{% endfor %}]}]}}' data-prefix="₦" data-suffix="k">
                <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                  <span class="d-none d-md-block">{{p_year}}</span>
                  <span class="d-md-none">{{p_syear}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Chart -->
        <div class="chart">
          <!-- Chart wrapper -->
          <canvas id="chart-sales" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-xl-4">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Deposits</h6>
            <h2 class="mb-0">Total Deposits</h2>
          </div>
        </div>
      </div>
      <div class="card-body"> -->
        <!-- Chart -->
        <!-- <div class="chart">
          <canvas id="chart-orders" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>
  </div> -->
</div>





<div class="row mt-5">
  <div class="col-xl-4 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Login History</h3>
          </div>
          <div class="col text-right">
            <a href="#!" class="btn btn-sm btn-primary">See all</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Ip Address</th>
              <th scope="col">Location</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            {% for l in l_his %}
            <tr class="text-danger">
              <th scope="row">
                {{l.ip}}
              </th>
              <td>
                {{l.city}} {{l.country}}
              </td>
              <td>
                {{l.created}}
              </td>
            </tr>
            {% empty %}
            <tr class="text-warning">
              <th scope="row">
                172.20.0.1 
              </th>
              <td>
                Nigeria 
              </td>
              <td>
                yesterday
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Payment History</h3>
          </div>
          <div class="col text-right">
            <a href="#!" class="btn btn-sm btn-primary">See all</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Subscription Plan</th>
              <th scope="col">Amount</th>
              <th scope="col">Transaction ID</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for p in p_his %}
            <tr>
              <th scope="row">
                {{p.payment_for}}
              </th>
              <td>
                {{p.amount}}
              </td>
              <td>
                {{p.paystack_charge_id}}
              </td>
              <td>
                {{p.paid}}
              </td>
              <td>
                {{p.date}}
              </td>
            </tr>
            {% empty %}
            <tr>
              <th scope="row">
                Premium
              </th>
              <td>
                60,000
              </td>
              <td>
                PAY_REF-9678540384
              </td>
              <td>
                PAID
              </td>
              <td>
                12-07-2021
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block inline_javascript %}
<script>
  jQuery( "#tabs-profile" ).on( "tabsactivate", function( event, ui ) {
    jQuery( '.flexslider .slide' ).resize();

    'use strict';

    //
    // Sales chart
    //
    
    var SalesChart = (function() {
    
      // Variables
    
      var $chart = $('#chart-sales');
    
    
      // Methods
    
      function init($chart) {
    
        var salesChart = new Chart($chart, {
          type: 'line',
          options: {
            scales: {
              yAxes: [{
                gridLines: {
                  lineWidth: 1,
                  color: Charts.colors.gray[900],
                  zeroLineColor: Charts.colors.gray[900]
                },
                ticks: {
                  callback: function(value) {
                    if (!(value % 10)) {
                      return '₦' + value + 'k';
                    }
                  }
                }
              }]
            },
            tooltips: {
              callbacks: {
                label: function(item, data) {
                  var label = data.datasets[item.datasetIndex].label || '';
                  var yLabel = item.yLabel;
                  var content = '';
    
                  if (data.datasets.length > 1) {
                    content += '<span class="popover-body-label mr-auto">' + label + '</span>';
                  }
    
                  content += '<span class="popover-body-value">₦' + yLabel + 'k</span>';
                  return content;
                }
              }
            }
          },
          data: {
            labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: 'Performance',
              data: [0, 20, 10, 30, 15, 40, 20, 60, 60]
            }]
          }
        });
    
        // Save to jQuery object
    
        $chart.data('chart', salesChart);
    
      };
    
    
      // Events
    
      if ($chart.length) {
        init($chart);
      }
    
    })();
    
  });

</script>
{% endblock %}