{% extends 'email/email_base.html' %}
{% load i18n %}
{% load account %}

{% block title %}
{% trans 'Confirm E-mail Address' %}
{% endblock %}

{% block preheader %}
{% trans 'Welcome to Bizwallet LTD' %}
{% endblock %}

{% block email_subject %}
{% include 'account/email/email_confirmation_subject.txt' %}
{% endblock %}

{% block content %}<p>{% autoescape off %}{% user_display user as user_display %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}You're receiving this e-mail because user {{ user_display }} has given your e-mail address to register an account on {{ site_domain }}.
<br><br>
To confirm this is correct, click the button below: <br> <a class="btn btn-primary" href="{{ activate_url }}">ACTIVATE ACCOUNT</a> <br>{% endblocktrans %}{% endautoescape %}</p>{% endblock %}
