{% extends 'email/email_base.html' %}
{% load i18n %}
{% load account %}

{% block title %}
{% trans 'Password Reset E-mail' %}
{% endblock %}

{% block preheader %}
{% trans 'Welcome to Bizwallet LTD' %}
{% endblock %}

{% block email_subject %}
{% include 'account/email/password_reset_key_subject.txt' %}
{% endblock %}

{% block content %}<p>{% autoescape off %}{% blocktrans %}You're receiving this e-mail because you or someone else has requested a password for your user account.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}
<br>
<a href="{{ password_reset_url }}" class="btn btn-primary">PASSWORD RESET</a> if username %}
<br><br>
{% blocktrans %}In case you forgot, your username is <b>{{ username }}</b>.{% endblocktrans %}{% endif %}{% endautoescape %}</p>{% endblock %}
