{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'About - All You Need To Know About' %} {{block.super|upper}}{% endblock title %}

{% block desc %}{% trans 'Everything you need to know about Bizwallet LTD' %}{% endblock %}

{% block kw %}bizwallet, bizwallet group, bizwallet limited, co-operative company{% endblock %}


{% block header %}
<div class="container">
    <div class="row justify-content-between align-items-end">
        <div class="col-md-8">
            <h2 class="display-4 text-dark fw-semibold ls--2">All needed to know about <span>Biz Wallet Co-Operative
                    Limited</span>.</h2>
            <p class="text-dark mb-0">
                Bizwallet is a very stable, secure online and offline platform that assist it's members develope
                discipline for
                saving and investing in assets whilst earning little or enough.
            </p>
        </div>
        <div class="col-md-3 text-md-end">
            <a href="" class="button button-rounded button-large m-0 center fw-medium nott ls0 fw-normal">Don't Loose
                Out</a>
        </div>
    </div>

    <img data-src="{% static 'images/parallax.jpg' %}" alt="Image" class="rounded-4 my-5 lazy">

    <div class="row topmargin align-items-center">
        <div class="col-lg-6 p-lg-2 pb-4">
            <div class="heading-block border-bottom-0 mb-0">
                <div class="before-heading">The Story</div>
                <h2 class="nott fw-semibold mb-4">Our Story</h2>
                <p>
                    In BizWallet Group, we have a Cooperative society which was formed mainly by Civil Servants, for
                    their common wealth, and we have a Company; the BizWallet Ltd, which is for Agro and Agro-allied
                    Businesses, and we also have Awajima Unlimited, as our Group member in charge of the Investment
                    Software Development, Design , and Management, and Digital Currency exchange investment.</p>
                <div class="row">
                    <div class="col-6 col-sm-6 mb-4">
                        <div class="counter color fw-semibold"><span data-from="1" data-to="3" data-refresh-interval="2"
                                data-speed="600"></span>+</div>
                        <h5 class="mt-0 fw-medium">Branches</h5>
                    </div>

                    <div class="col-6 col-sm-6 mb-4">
                        <div class="counter color fw-semibold"><span data-from="1" data-to="37"
                                data-refresh-interval="11" data-speed="900"></span>+</div>
                        <h5 class="mt-0 fw-medium">Investors</h5>
                    </div>

                    <div class="col-6 col-sm-6 mb-4">
                        <div class="counter color fw-semibold"><span data-from="1" data-to="21"
                                data-refresh-interval="3" data-speed="1000"></span>+</div>
                        <h5 class="mt-0 fw-medium">Approved Loans</h5>
                    </div>

                    <div class="col-6 col-sm-6 mb-4">
                        <div class="counter color fw-semibold"><span data-from="100" data-to="4500"
                                data-refresh-interval="100" data-speed="1500"></span>+</div>
                        <h5 class="mt-0 fw-medium">Sqr. Meters Left</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-lg-2">
            <img class="lazy" data-src="{% static 'images/president.jpeg' %}" alt="President Image">
        </div>
        <div class="col-md-12 mb-0">
            <p>
                Currently, on, in the Group’s system, is the quality low housing scheme for Civil Servants, which is in collaboration with the Federal Mortgage Bank of Nigeria, and the National Housing Fund, and  would enable every desirous Civil Servants, and Nigerian,  to own a 2,3,4,etc bedroom apartment, in a few months’ time, and the model is that you will join the Cooperative, as a Platinum member, at least, and then choose the option, that will be convenient for you, which is from a one time 50% payment, or through monthly contributions.
            </p>
            <p>
                You pay 50%, and the BizWallet ,pays 50% for you, for you to get your house in within 20 months.
    Then, we also have the big one, The Africa’s best Investment Company, which you too, can become a Co-owner, and earn in the lifetime.
            </p>
            <p>
                We must be all familiar with the word “investment”  by now.
    Investment has really helped many families, Companies, Organizations, and lives, especially, during the lock-down periods, when businesses had to shutdown, those who had returns coming in from their investments, where very stable and comfortable at home, even while others were shouting for palliatives.
            </p>
            <p>
                Though however, some of those investment Companies have issues arising from the one man operation system, they take any decisions, whether to sell of their company, or buy not really needed properties, and those existing investment Companies have just the International capital market trading, as their only source of revenue.
            </p>
            <p>
                As one who has worked as an Head of operations, and Administrative/Account Manager of one of those leading Investment Companies, I and my team of experts know what worked and what didn’t work for them, and we came out with a diversified revenue generation investment Company’ system, which we want you all to join as Co-owners, so that, for the first time, we can build the People’s investment Company, which is gender friendly, a Company where the Chief Executive Officer (CEO)’s position ,would be tenure based, professional are the members of the Board of Directors, every Co-owner will have a vote, in strategic decision making processes, and would enjoy dividends which is transferable , and is for a lifetime.
            </p>    
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section bg-transparent mt-0">
    <div class="container">
        <div class="before-heading">Know More</div>
        <h2 class="nott fw-semibold mb-4">Our Business</h2>

        <b class="color">Bizwallet Co-Operative LTD</b class="color"> is a limited liability company/organization with mainstay in co-operative
    operations. It is duly registered under the relevant provisions of the <b class="color">Nigerian Companies and Allied Matters
        Act (CAMA)</b class="color">. The co-operative has a <b class="color">Board of Directors</b class="color"> headed by a chairman <b class="color">Also referred to as
        President</b class="color">. It also has a <b class="color">Managing Director (MD)</b class="color">.
    <br>
    <br>
    Apart from being registered under the said <b class="color">CAMA</b class="color">, our organization is also duly registered with the
    <b class="color">Rivers State Ministry of Commerce and Industry</b class="color">, <b class="color">Small and Medium Enterprises Development Agency of
        Nigeria (SMEDAN)</b class="color"> and a few other commercial and business oriented Agencies within and outside Nigeria.
    <br>
    <br>
    As a <b class="color">Co-Operative Organization,</b class="color"> we seeks the advancement of its members' wellfare and overall well-being.
    The organization accomplishes this noble goal by financially assisting on agreed terms,
    its members and even non-members who are desirous of owning certain valued facilities of life, for example:
    <em>The purchase/lease of real estate properties like lands, houses, as well as vehicles
        <b class="color">(including cars and trucks, marine transport vehicles and equipments)</b class="color">.</em>
    <br>
    <br>
    Our programmes also extend to assisting our members and other interested persons under a convenient & relatively
    stress-free setting, to set up their new private/group businesses as well as expand/enhance
    the optimal performance of any existing businesses they own.
    <br>
    <br>
    Futhermore, we also facilitate a cost-effective and convenient educational/vocational training of willing
    members, children/wards of members and other interested persons through different strata of Available
    educational/vocational training.
    </div>

</div>
<div class="section clearfix">
    <div class="container">

        <div class="row flex-row-reverse mb-5 gutter-lg-50 align-items-center">
            <div class="col-lg-6 p-lg-5">
                <div class="heading-block border-bottom-0 mb-0">
                    <div class="before-heading">Our Vision</div>
                    <h2 class="nott fw-semibold mb-4">Vision Statement</h2>
                    <p>
                        We have a vision to facilitate the creation of a largely middle classs community of Nigerians, who are
                opportuned to acquire their desired basic amenities or facilities
                of life with relative ease, and in the process, invariably contribute to the emergence, growth and
                sustainance of an economically viable and stable Nigerian Nation.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-5">
                <img class="lazy" data-src="{% static 'images/africa.jpg' %}" alt="Image">
            </div>
        </div>
    
    </div>
</div>

<div class="section clearfix bg-transparent">
    <div class="container">

        <div class="row mb-5 gutter-lg-50 align-items-center">
            <div class="col-lg-6 p-lg-5">
                <div class="heading-block border-bottom-0 mb-0 center">
                    <div class="before-heading right">Our Mission</div>
                    <h2 class="nott fw-semibold mb-4 right">Mission Statement</h2>
                    <p>
                        Our mission is and will always be to ostensibly, engrain in our members and sundry clients, the
            thought-process of how to achieve their cherished key amenities of value
            and equally expose them to an easily-accessible and sustainable financial base for the acquisition and
            maintenance of the said amenities. We remain primarily inspired
            to enhance the upliftment of the socio economic conditions of Nigerians and people of other neighbouring
            Nations at large.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-5">
                <div class="heading-block border-bottom-0 mb-0 center">
                <div class="before-heading right">Who We are</div>
                <h2 class="nott fw-semibold mb-4 right">Why Us?</h2>
                <p>
                    We intend to be a leading co-operative organization in <b class="color">Africa</b class="color">,poised to primarily expose millions of
                        <b class="color">Nigerians (nay Africans)</b class="color"> to the opportunity
                        of making them acquire with relative ease, some of their choice facilities or amenities, like plots of land,
                        houses, vehicles, domestic and business technologies
                        or equipments, viable business concerns, educations/vocational skill training facilities, <b class="color">ETC.</b class="color">
                </p>
                </div>
            </div>
        </div>
    
    </div>
</div>


<div class="section p-0 mb-0 testimonials clearfix">
    <div class="container" style="padding: 120px 0">
        <div class="heading-block border-bottom-0 center">
            <div class="before-heading">What our Members Say</div>
            <h2 class="nott fw-semibold">Testimonials</h2>
            <p class="mb-0 mt-1"><span class="fw-semibold">Excellent, Service</span> from all <span class="fw-semibold">2,118</span> reviews. </p>
        </div>

        <div id="testimonials-carousel" class="owl-carousel carousel-widget testimonial testimonial-full bg-transparent border-0 shadow-none p-0 mx-auto text-start clearfix" data-animate-in="fadeIn" data-animate-out="fadeOut" data-margin="24" data-nav="false" data-pagi="true" data-items="1" style="max-width: 740px">
            <div class="slide">
                <div class="testi-content">
                    <div class="testi-stars mb-4">
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                    </div>
                    <p>Collaboratively enhance intermandated innovation via cutting-edge core competencies. Professionally extend covalent e-markets and mission-critical communities. Dramatically communicate revolutionary web services for interactive synergy. Synergistically.</p>
                    <div class="testi-meta mt-4">
                        Steve Jobs
                        <span class="ls0">Apple Inc.</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="testi-content">
                    <div class="testi-stars mb-4">
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star-half2"></i>
                    </div>
                    <p>Intrinsicly synergize excellent content whereas user friendly action items. Rapidiously transition multimedia based information after top-line alignments. Authoritatively integrate accurate outsourcing vis-a-vis principle-centered systems energistically</p>
                    <div class="testi-meta mt-4">
                        Collis Ta'eed
                        <span class="ls0">Envato Inc.</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="testi-content">
                    <div class="testi-stars mb-4">
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                        <i class="icon-star3"></i>
                    </div>
                    <p>Compellingly engage multimedia based niche markets via value-added manufactured products. Competently formulate goal-oriented content for installed base users. Uniquely leverage other's granular ROI without 24/365 collaboration and idea-sharing.</p>
                    <div class="testi-meta mt-4">
                        John Doe
                        <span class="ls0">XYZ Inc.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

