{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Mr. Ben Johnson - The President Bizwallet 2021' %} {{block.super|upper}}{% endblock title %}

{% block desc %}{% trans 'Experienced Specialist with a demonstrated history of working in the oil & energy industry. Strong professional skilled in Gas, Petroleum, Analytical Skills, Technical Support, and Enterprise Software.' %}{% endblock %}

{% block kw %}bizwallet, bizwallet group, bizwallet team, bizwallet experts, bizwallet limited, co-operative company{% endblock %}

{% block body_class %}
class="stretched page-transition"
{% endblock %}

{% block header %}
<div class="container">
    <div class="row justify-content-between align-items-end">
        <div class="col-md-8">
            <h2 class="display-4 text-dark fw-semibold ls--2">Know our president <br> <span>Mr. Ben Jason</span>.</h2>
            <p class="text-dark mb-0">
                Experienced Specialist with a demonstrated history of working in the oil & energy industry. Strong professional skilled in Gas, Petroleum, Analytical Skills, Technical Support, and Enterprise Software.
            </p>
        </div>
        <div class="col-md-3 text-md-end">
            <a href="https://www.linkedin.com/in/ayo-ogungbe-26a80929" class="button button-rounded button-large m-0 center fw-medium nott ls0 fw-normal">Contact</a>
        </div>
    </div>

    <img data-src="{% static 'images/team/president.jpeg' %}" alt="Image" class="rounded-4 my-5 lazy">
</div>
{% endblock %}

{% block content %}
<div class="section mb-0 pb-0 bg-theme-light clearfix" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-1">
                <div class="before-heading">Don't Hesitate to Reach out to Us</div>
                    <h2 class="nott fw-semibold display-4">Want to Talk?</h2>
                <h4 class="fw-light mb-4">Call us at <a href="tel:+(61)8-234-532-45">+(61)8-234-532-45</a></h4>
                <a href="{% url 'contact' %}" class="button button-rounded button-xlarge m-0 nott fw-semibold ls0 px-5">Mail Us</a>
            </div>
        </div>
    </div>
    <img src="{% static 'demos/coworking/images/footer-bg.jpg' %}" alt="Footer Image" class="footer-img">
</div>
{% endblock %}