{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Team Members - The people who make up amazing team' %} {{block.super|upper}}{% endblock title %}

{% block desc %}{% trans 'Our amazing team working to ensure we stay Bizwallet LTD' %}{% endblock %}

{% block kw %}bizwallet, bizwallet group, bizwallet team, bizwallet experts, bizwallet limited, co-operative company{% endblock %}

{% block body_class %}
class="stretched page-transition"
{% endblock %}

{% block header %}
	<!-- Page Title
	============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>Team</h1>
			<span>List of People who matter in Our Company</span>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
				<li class="breadcrumb-item"><a href="{% url 'about' %}">About Us</a></li>
				<li class="breadcrumb-item active" aria-current="page">Team</li>
			</ol>
		</div>

	</section><!-- #page-title end -->
{% endblock %}

{% block content %}
<div class="fancy-title title-border">
	<h3>Our CEOs</h3>
</div>

<div class="row justify-content-center col-mb-50 mb-0">
	<div class="col-sm-12 col-lg-4">
		<div class="team">
			<div class="team-image">
				<img src="{% static 'images/team/president.jpeg' %}" alt="AYO OGUNGBE">
			</div>
			<div class="team-desc">
				<div class="team-title"><h4>Ayo Ogungbe</h4><span>PRESIDENT</span></div>
				<a href="https://www.linkedin.com/in/ayo-ogungbe-26a80929" class="social-icon inline-block si-small si-light si-rounded si-facebook">
					<i class="icon-linkedin"></i>
					<i class="icon-linkedin"></i>
				</a>
				<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
					<i class="icon-twitter"></i>
					<i class="icon-twitter"></i>
				</a>
				<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
					<i class="icon-gplus"></i>
					<i class="icon-gplus"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-lg-4">
		<div class="team">
			<div class="team-image">
				<img src="{% static 'images/team/cto.jpeg' %}" alt="Jeremiah David">
			</div>
			<div class="team-desc">
				<div class="team-title"><h4>Jeremiah David</h4><span>CTO</span></div>
				<a href="https://www.linkedin.com/in/darkcodr/" class="social-icon inline-block si-small si-light si-rounded si-facebook">
					<i class="icon-linkedin"></i>
					<i class="icon-linkedin"></i>
				</a>
				<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
					<i class="icon-twitter"></i>
					<i class="icon-twitter"></i>
				</a>
				<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
					<i class="icon-gplus"></i>
					<i class="icon-gplus"></i>
				</a>
			</div>
		</div>
	</div>

	<!-- <div class="col-sm-12 col-lg-4">
		<div class="team">
			<div class="team-image">
				<img src="{% static 'images/team/8.jpg' %}" alt="Mary Jane">
			</div>
			<div class="team-desc">
				<div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
				<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
					<i class="icon-facebook"></i>
					<i class="icon-facebook"></i>
				</a>
				<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
					<i class="icon-twitter"></i>
					<i class="icon-twitter"></i>
				</a>
				<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
					<i class="icon-gplus"></i>
					<i class="icon-gplus"></i>
				</a>
			</div>
		</div>
	</div> -->
</div>
{% endblock %}