{% load static compress %}

<!-- place project specific Javascript in this file -->
<script defer src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script defer src="{% static 'js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Footer Scripts
============================================= -->
<script defer src="{% static 'js/plugins/chart.js/dist/Chart.min.js' %}"></script>
{% compress js inline %}
<script defer src="{% static 'js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
{% endcompress %}
<script defer src="{% static 'js/argon-dashboard.min.js' %}"></script>

<script defer src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>