{% load static i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}

{% url 'home' as home_url %}
{% url 'ref_home' as home_url %}
{% url 'about' as about_url %}


		<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0" style="background-color: #6f210e; padding-top: 80px">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap dark pb-5 clearfix">

					<div class="row">

						<div class="col-lg-3 col-md-4 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Popular Links</h4>

								<ul class="list-unstyled ms-0">
									<li class="mb-2"><a href="{% url 'home' %}">Home</a></li>
									<li class="mb-2"><a href="#">Blog</a></li>
									<li class="mb-2"><a href="#">T & C</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Get to Know us</h4>

								<ul class="list-unstyled ms-0">
									<li class="mb-2"><a href="{% url 'about' %}">About</a></li>
									<li class="mb-2"><a href="{% url 'services' %}">Services</a></li>
									<li class="mb-2"><a href="{% url 'ceo' %}">CEO</a></li>
								</ul>

							</div>
						</div>

						<div class="col-lg-6 col-md-4">
							<div id="instagram" class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Instagram Photos</h4>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-5" data-user="blog.canvastemplate" data-count="10"></div>

							</div>
						</div>

						<div class="line"></div>

						<div class="row">
							<div class="col-sm-3">
								<a href="index.html"><img src="{% static 'images/logo@2x.png' %}" height="90" alt="Bizwallet Footer Logo" class="mb-4" height="20"></a>
								<p class="text-white-50">We believe in Stable, Dependable & Financial power.</p>
								<a href="#" class="social-icon si-small si-light si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-github" title="Github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-instagram" title="instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>
							</div>
							<div class="col-sm-9">
								<p class="text-white-50">Do you have futher enquiries?</p>
								<div class="toggle toggle-border">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-line-plus"></i>
											<i class="toggle-open icon-line-minus"></i>
										</div>
										<div class="toggle-title">
											Who is bizwallet?
										</div>
									</div>
									<div class="toggle-content">
										Bizwallet is a very stable, secure online and offline platform that assist it's members develope discipline for saving and investing in assets whilst earning little or enough.
									</div>
								</div>
								<div class="toggle toggle-border">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-line-plus"></i>
											<i class="toggle-open icon-line-minus"></i>
										</div>
										<div class="toggle-title">
											Is Bizwallet Registered?
										</div>
									</div>
									<div class="toggle-content">
										Yes!
										<br>
										<br>
										BizWallet Ltd. (RC 1658722)
										Eco-BizWallet Multipurpose Co-operative Society Limited. (RS 320355)
									</div>
								</div>
								<div class="toggle toggle-border">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-line-plus"></i>
											<i class="toggle-open icon-line-minus"></i>
										</div>
										<div class="toggle-title">
											Is Bizwallet only for CIVIL SERVAENTS?
										</div>
									</div>
									<div class="toggle-content">
										No!
										<br>
										<br>
										BizWallet cooperative business is for Civil servants, and non-civil servants (example; farmers,students, Lawyers, medical workers,business men, Church members, and all others who want a better life are welcomed to join.
									</div>
								</div>
								<div class="toggle toggle-border">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-line-plus"></i>
											<i class="toggle-open icon-line-minus"></i>
										</div>
										<div class="toggle-title">
											How does BizWallet generate 50% to complete my 50% for me?
										</div>
									</div>
									<div class="toggle-content">
										BizWallet cooperative gives loans to civil servants and other fintech companies, and does other profitable trades with expert advice, and so are able to cover the 50% for her members with ease,from the accruing interest ,within the 12 months financing period.
									</div>
								</div>
								<div class="toggle toggle-border">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-line-plus"></i>
											<i class="toggle-open icon-line-minus"></i>
										</div>
										<div class="toggle-title">
											Does BizWallet give loan to her Members?
										</div>
									</div>
									<div class="toggle-content">
										Yes!
										<br>
										<br>
										But only to her registered members across Africa.
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-transparent dark pt-0">

				<div class="line mt-0"></div>

				<div class="container clearfix">

					<div class="row">
						<div class="col-12">
							<p class="mb-2 text-white-50">Copyrights &copy; 2020 All Rights Reserved by Canvas Inc.</p>
							<div class="copyright-links text-white-50">{% for page in flatpages %}<a href="/flatpage{{ page.url }}" class="text-white-50">{{page.title}}</a> {% if not forloop.last %}/{% endif %}{% endfor %}</div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

