{% load static compress %}

<!-- place project specific Javascript in this file -->
{% compress js inline %}
<script defer src="{% static 'js/jquery.js' %}"></script>
<script defer src="{% static 'js/plugins.min.js' %}"></script>

<!-- Footer Scripts
============================================= -->
<script defer src="{% static 'js/components/moment.js' %}"></script>
<script defer src="{% static 'js/components/datepicker.js' %}"></script>

<script defer src="{% static 'js/functions.js' %}"></script>
{% endcompress %}