<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-8"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutQuad;"
data-speed="700"
data-start="2600"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;"><img src="{% static  'images/slider/rev/main/s2-1.png' %}" alt="Image"></div>

<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-7"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutQuad;"
data-speed="700"
data-start="2800"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 4;"><img src="{% static  'images/slider/rev/main/s2-2.png' %}" alt="Image"></div>

<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-6"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutCubic;"
data-speed="700"
data-start="3000"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 5;"><img src="{% static  'images/slider/rev/main/s2-3.png' %}" alt="Image"></div>

<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-5"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutCubic;"
data-speed="700"
data-start="3200"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 6;"><img src="{% static  'images/slider/rev/main/s2-4.png' %}" alt="Image"></div>

<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-4"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutCubic;"
data-speed="700"
data-start="3400"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 7;"><img src="{% static  'images/slider/rev/main/s2-5.png' %}" alt="Image"></div>

<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-3"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutCubic;"
data-speed="700"
data-start="3600"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 8;"><img src="{% static  'images/slider/rev/main/s2-6.png' %}" alt="Image"></div>

<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-2"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutCubic;"
data-speed="700"
data-start="3800"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 9;"><img src="{% static  'images/slider/rev/main/s2-7.png' %}" alt="Image"></div>

<div class="tp-caption ltl tp-resizeme rs-parallaxlevel-1"
data-x="200"
data-y="107"
data-transform_in="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutCubic;"
data-speed="700"
data-start="4000"
data-easing="easeOutCubic"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power4.easeIn" style="z-index: 10;"><img src="{% static  'images/slider/rev/main/s2-8.png' %}" alt="Image"></div>
