{% load static i18n %}

<!-- Slider
============================================= -->
<section id="slider" class="slider-element revslider-wrap slider-parallax min-vh-100 include-header">
    <div class="slider-inner">
        <div id="rev_slider_579_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="default-slider" style="padding:0px;">
            <!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
            <div id="rev_slider_579_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.4">
                <ul>   <!-- SLIDE  -->
                    <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'images/slider/rev/main/s1-thumb.jpg' %}"  data-saveperformance="off"  data-title="Welcome to BizWallet">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/videos/explore-poster.jpg' %}"  alt="1st hero slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-fade fadeout fullscreenvideo rs-background-video-layer"
                            data-forcerewind="on"
                            data-volume="mute"
                            data-videowidth="100%"
                            data-videoheight="100%"
                            data-videomp4="{% static  'images/videos/explore.mp4' %}"
                            data-videopreload="preload"
                            data-videoloop="none"
                            data-forceCover="1"
                            data-aspectratio="16:9"
                            data-autoplay="true"
                            data-autoplayonlyfirsttime="false"
                            data-nextslideatend="true"
                            >
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-55','-55','-90','-90']"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                        data-speed="800"
                        data-start="1000"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-textAlign="center"
                        data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">The Best is yet to come</div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-10','-10']"
                        data-fontsize="['50','50','50','36']"
                        data-lineheight="['50','50','60','50']"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                        data-speed="800"
                        data-start="1200"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-textAlign="center"
                        data-width="['800','800','560','400']"
                        data-height="none"
                        data-whitespace="['normal','nowrap','normal','normal']"
                        data-endeasing="Power4.easeIn" style="z-index: 3; white-space: normal;">Welcome to BizWallet</div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-desc-text"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['80','80',90,'120']"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-textAlign="center"
                        data-width="['800','800','560','400']"
                        data-height="none"
                        data-endeasing="Power4.easeIn" style="z-index: 3; width: 750px; max-width: 750px; white-space: normal;">As a member of Bizwallet Cooperative, you are entitled to contribute eighther weekly or monthly and earn some percentages added to your contributed funds at the end of the year. Further information provided after clicking the learn more button below..</div>

                        <div class="tp-caption ltl tp-resizeme"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['170','170','250','250']"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                        data-speed="800"
                        data-start="1550"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;"><a href="{% url 'about' %}" class="button button-border button-white button-light button-large button-rounded text-right m-0"><span>Learn More</span> <i class="icon-angle-right"></i></a></div>

                    </li>
                    <li class="dark" data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static  'images/slider/rev/main/s2-thumb.jpg' %}"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Own a Property">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider/rev/main/s2-bg.jpg' %}"  alt="video_woman_cover3"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 2 -->

                        <div class="tp-caption ltl tp-resizeme revo-slider-caps-text"
                        data-x="40"
                        data-y="120"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1200"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 11; white-space: nowrap;">Own a property</div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0 text-uppercase"
                        data-x="37"
                        data-y="165"
                        data-transform_in="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeOutQuad"
                        data-splitin="chars"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-width="['800','800','560','380']"
                        data-height="none"
                        data-endeasing="Power4.easeIn" style="z-index: 11; font-size: 56px;white-space: nowrap;">Property Acquisition <br>Made Easier</div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-desc-text text-left"
                        data-x="40"
                        data-y="340"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1600"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-width="['550','550','550','380']"
                        data-height="none"
                        data-endeasing="Power4.easeIn" style="z-index: 11; max-width: 550px; white-space: normal;">Amazing offers inside Bizwallet Cooperative to enable you own properties of your choice such as land, house, cars, buses, trucks, and equipments for your businesses to you succeed...</div>

                        <div class="tp-caption ltl tp-resizeme"
                        data-x="40"
                        data-y="550"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1800"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1300"
                        data-endeasing="Power4.easeIn" style="z-index: 11;"><a href="{% url 'about' %}" class="button button-border button-white button-light button-large button-rounded text-right m-0"><span>Check Now</span> <i class="icon-angle-right"></i></a></div>

                    </li>
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-thumb="{% static  'images/slider/rev/main/s3-thumb.jpg' %}" data-delay="10000"  data-saveperformance="off"  data-title="Education is Key">
                    <!-- MAIN IMAGE -->
                        <img src="{% static  'images/slider/rev/education.jpg' %}"  alt="kenburns6"  data-bgposition="left top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="right bottom">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption ltl tp-resizeme revo-slider-caps-text"
                        data-x="40"
                        data-y="140"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1200"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 11; white-space: nowrap; color: #FFF;">Education Initiative (MESI)</div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0 text-uppercase"
                        data-x="37"
                        data-y="180"
                        data-transform_in="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeOutQuad"
                        data-splitin="chars"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-width="['800','800','560','380']"
                        data-height="none"
                        data-endeasing="Power4.easeIn" style="z-index: 11; font-size: 56px;white-space: nowrap; color: #FFF;">Milan Education <br>Support Initiative (MESI)</div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-desc-text text-left"
                        data-x="40"
                        data-y="340"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1600"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-width="['550','550','550','380']"
                        data-height="none"
                        data-endeasing="Power4.easeIn" style="z-index: 11; max-width: 550px; white-space: normal; color: #FFF;">MESI will assist in paying 50% your school fees while you Carter for only 50%. Education to us is a key that can assist the end user  to achieve what ever he/she desires in life, if you are committed to it!...</div>

                        <div class="tp-caption ltl tp-resizeme"
                        data-x="40"
                        data-y="550"
                        data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1800"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1300"
                        data-endeasing="Power4.easeIn" style="z-index: 11;"><a href="{% url 'about' %}" class="button button-border button-white button-light button-large button-rounded text-right m-0"><span>Read More</span> <i class="icon-angle-right"></i></a></div>

                    </li>
                </ul>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</section>
