{% load static i18n %}

<!-- Slider
============================================= -->
<div class="section bg-transparent py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="display-6 fw-semibold ls--2">We are making <span class="text-rotater" data-separator="|"
                        data-rotate="fadeIn" data-speed="2000"><br>
                        <span class="t-rotate">Savings|Investment|Currency Exchange|Real Estate|Agency Banking|Agro
                            Stimulus</span>
                    </span> <br>easy for you.</h2>
            </div>
            <div class="col-md-5">
                <p class="lead text-muted" data-animate="fadeInRight" data-delay="200">
                    Bizwallet is a very stable, secure online and offline platform that assist it's members develope discipline for
                    saving and investing in assets whilst earning little or enough.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="overflow-hidden parallax d-flex align-items-center" data-bottom-top="background-position:0px 200px;"
    data-top-bottom="background-position:0px -400px;" style="background-image: url('{% static "images/hero.jpg" %}'); background-size: cover; height: 600px; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-white" style="text-shadow: 2px 2px #000;" data-animate="fadeInLeft">We have a vision to facilitate the creation of a large middle class community
                    of Nigerians, who are opportuned to acquire their desired basic amenities or facilities of life with
                    relative ease.</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-theme-light" data-animate="fadeInRight" data-delay="200">
    <div class="shadow-sm hero-features bg-color dark shadow">
        <div class="row">
            <div class="col-md-4 mt-3 mt-md-0">
                <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                    <div class="fbox-icon">
                        <i class="icon-line-circle-check"></i>
                    </div>
                    <div class="fbox-content">
                        <h3 class="text-white">Easily Manage Your Investments</h3>
                        <p class="text-white mb-0">With a unique dashboard, you can manage all subscribed plans and investments.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3 mt-md-0">
                <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                    <div class="fbox-icon">
                        <i class="icon-line-circle-check"></i>
                    </div>
                    <div class="fbox-content">
                        <h3 class="text-white">24x7 Access.</h3>
                        <p class="text-white mb-0">Never loose hope in gaining timely support from us. We are always happy to hear from you.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3 mt-md-0">
                <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                    <div class="fbox-icon">
                        <i class="icon-line-circle-check"></i>
                    </div>
                    <div class="fbox-content">
                        <h3 class="text-white">Secured &amp; Friendly.</h3>
                        <p class="text-white mb-0">With state of the act encryption for our users we can guarnatee you a secure platform just for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

