{% extends "admin/base.html" %}
{% load static %}


{% block extrahead %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
{% endblock %}

{% block javascripts %}
<script>
tinymce.init({selector:'textarea',
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
});</script>
{% endblock %}