{% load static i18n compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Bizwallet{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block desc %}Bizwallet is a very stable & secure online platform that assist it's members develope discipline for saving and investing in assets whilist earning little or enough. These members can acquire property, Auto/Vehicle, Pay School fees, plan towards investing in agriculture and many more. {% endblock %}">
    <meta name="author" content="Jeremiah David">
    <meta name="keywords" content="{% block kw %}{% endblock %}">
    <meta name="format-detection" content="telephonr=no">
    <meta name="HandheldFriendly" content="true">


    <meta property="OG:author" content="Jeremiah David">
    <meta property="og:title" content="Bizwallet - Your trusted cooporative fintech">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% block og_desc %}Bizwallet is a very stable & secure online platform that assist it's members develope discipline for saving and investing in assets whilist earning little or enough. These members can acquire property, Auto/Vehicle, Pay School fees, plan towards investing in agriculture and many more. {% endblock %}">
    <meta property="og:image" content="{% static 'images/logo.jpg' %}">
    <meta property="og:url" content="http://bizwallet.org">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Bizwallet - Your trusted cooporative fintech">
    <meta name="twitter:image:alt" content="Bizwallet Logo Icon">

    <!-- social analytics from fb and twitter -->
    <meta property="fb:app_id" content="">
    <meta name="twitter:site" content="@buzwallet_ng">

    <link rel="canonical" href="{% url 'home' %}">

    <!-- Preconnects to improve performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">


    <!-- Your Fonts: Third-party css libraries go here -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" href="{% static 'images/favicon.png' %}">

    {# vue js 3 package for frontend ajaxing must be in the header section #}
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <link href="{% static 'css/iziToast.min.css' %}" rel="stylesheet">
    {% include 'snippets/css.html' %}


        {# <!-- {% cookielaw_banner %} --> #}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
      <script defer src="{% static 'js/iziToast.min.js' %}"></script>
      {% include 'snippets/js.html' %}

    {% endblock javascript %}


    {% block extra_css %}
    {% endblock %}

    {{form.media}}


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body class="stretched page-transition"  data-loader="2" data-animation-in="fadeIn" data-speed-in="1500" data-animation-out="fadeOut" data-speed-out="800"></body>

    <div class="clearfix" id="wrapper">

      {% include 'snippets/nav.html' %}

      <section id="content">
        <div class="content-wrap pt-3 pb-0">

            {% block header %}
            {% endblock %}

            {% block content %}
            {% endblock %}

        </div>
      </section>

      {% include 'snippets/footer.html' %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>




    {# izi message signals for django #}
    {% for message in messages %}
      <script nonce="{{ nonce }}" type=text/javascript>
        iziToast.settings({
          timeout: 9000,
          position: 'topRight',
          drag: true,
          pauseOnHover: true,
          transitionIn: 'flipInX',
          transitionOut: 'flipOutX',
          transitionInMobile: 'fadeInUp',
          transitionOutMobile: 'fadeOutDown',
          close: true,
          balloon: true,
          progressBar: true,
          progressBarEasing: 'ease',
          pauseOnHover: true,
          icon: 'material-icons',
          iconText: '{% if message.tags == "info" %}info{% elif message.tags == "success" %}check_circle{% elif message.tags == "warning" %}warning{% else %}priority_high{% endif %}',
        });
        iziToast.{{ message.tags }}({
          id: '{{ message.tags }}',
          title: '{{ message.tags|capfirst }}',
          message: '{{ message }}',
        });
      </script>
    {% endfor %}

  {# tiny mce settings configuration #}
  
  <script nonce="{{ nonce }}">
    tinymce.init({
      selector: 'textarea',
      menubar: false,
      plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
      ],
      setup: function (editor) {
        editor.on('change', function (e) {
          editor.save();
        });
      }
    });
  </script>


    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
  </body>
</html>
